<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <appSettings>
      <!-- set Cmd to the executable file name. -->
      <!-- set CmdArg to any command arguments required. -->
      <add key="Cmd"      value="c:\path\to\Escc.AzureEmailForwarder.exe"/>
      <add key="CmdArgs"  value=""/>
    </appSettings>
</configuration>